* {
    margin     : 0;
    padding    : 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing : border-box;
}

body {
    background-color: #525252;
}

/* PARTE SUPERIOR */
.contenedor-total {
    width : 99%;
    height: 99%;
    margin: 0 auto;
}

.header {
    display         : flex;
    background-color: red;
    justify-content : space-between;
    align-items     : center;
    height          : 95%;
    padding         : 20px 0;
    width           : auto;
}

.logo {
    font-size  : 20px;
    margin-left: 25px;
    width      : 25%;
    box-sizing : border-box;
}

.titulo {
    font-size   : 6em;
    margin-left : 1em;
    margin-right: 20px;
    height      : auto;
    width       : auto;
    width       : 80%;
    box-sizing  : border-box;
}

/* NAV BAR */
.nav-bar {
    background-color: #F52911;
    height          : 90%;
    width           : 100%;
    padding         : 25px 0;
    margin          : 1px 0
}



.nav-bar ul {
    display    : flex;
    align-items: center;
}

.nav-bar ul li {
    margin         : auto;
    text-decoration: none;
    list-style     : none;
}

.nav-bar ul li a {
    text-decoration: none;
    font-size      : 25px;
    color          : #fff;
}

.nav-bar ul li a:hover {
    color: rgb(19, 18, 18);
}


/* CUERPO */

.nosotros-container {
    margin     : 30px 0;
    width      : 70%;
    margin-left: 22px;
}

.nosotros-contenido {
    text-align: left;
    font-size : 20px;
}

/*MENU*/
.comidas {
    justify-content: space-between;
}

.comida-1,
.comida-2,
.comida-3 {
    border : 2px solid black;
    padding: 5px;
}

.comidas p {
    color: #fff;
}

img {
    width: 80px;
}

/* FOOTER */

footer {
    width           : 100%;
    background-color: #FB4F4F;
    color           : #fff;
    padding         : 25px;
}

.container-footer {
    display        : flex;
    margin         : auto;
    justify-content: space-between;
}

.colum1 {
    max-width: 300px;
}

.colum1 h1 {
    font-size: 20px;
}

.colum1 p {
    font      : 15px;
    color     : #fff;
    margin-top: 10px;
}

.colum2 {
    max-width: 300px;
}

.colum2 p {
    margin: 0 0 0 10px;
}

.colum2 a {
    margin-left    : -80px;
    text-decoration: none;
    color          : #fff;
}

.colum2 a:hover {
    color           : black;
    background-color: #FB4F4F;

}

.colum2 h1 {
    font-size: 15px;
}

.colum2 .row {
    margin-top: 15px;
}

.row {
    display: flex;
}

.row img {
    height: 30px;
    width : 30px;
}