* {
    margin : 0;
    padding: 0;
}

/* PARTE SUPERIOR */

.header {
    display         : flex;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 20px 0;
}

.logo {
    font-size: 50px;
    margin-left: 25px;
}

.titulo {
    font-size: 80px;
    margin-left: 1em;
}

ul{
    margin: 30px 0 0 5px;
}
li {
    color     : blue;
    background-color: #ffff;
    display   : inline-block;
    font-size : 20px;
    text-align: center;
}
a{
    text-decoration: none;
    margin: 0 50px 0 ;
}

a:hover{
    background-color: green;
    color: aqua;
}

.nav-bar ul{
    background-color: white;
    padding-bottom: 20px;
}

/* CUERPO */

img {
    width: 80px;
}